<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.aamsystems.lyrixnotification2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/lyrix_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lyrix_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->
        <activity
            android:name=".view.ui.activities.SplashLyrixActivity"
            android:theme="@style/SplashTheme"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Основная activity -->
        <activity android:name="ru.aamsystems.lyrixnotification2.view.ui.activities.MainActivity"/>
    </application>

</manifest>